html, body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #2c3e50;
	background-color: #f6f6f6;
	height: 100%;
}
#wrap{
	min-height: 85.5%;
	height: auto !important;
}

#footer{
	padding-top: 10px;
	background-color: #297db6;
	color: #ffffff;
	height: 70px;
}

.content {
	margin-top: 10px;
	margin-bottom: 40px
}
